<div class="ds-panel-container">
    <h4>Data</h4>
    <form >
        <div class="ds-row ds-mar-b-1_5">
            <div class="ds-col-12 ds-mar-b-2">
                <label for="form-address-line-1" class="ds-input-label ds-pad-l-0_5"></label>
                <input  type="text" class="ds-input" id="form-address-line-1"  placeholder="Name"  name="name" [(ngModel)]="details.name">
            </div>
            <div class="ds-col-12">
                <label for="form-address-opt-1" class="ds-input-label ds-pad-l-0_5"></label>
                <textarea id="ds-example-input-textarea" class="ds-input " placeholder="Lorem ipsum"
                    aria-label="Textarea input example" name="content" [(ngModel)]="details.content"></textarea>
            </div>
            <div class="ds-col-3">
                <button class="ds-button ds-basic ds-small ds-width-auto ds-mar-b-0 " (click)="save()"><span
                    class="ds-icon-save" ></span></button>
              </div>
        </div>
    </form>
</div>
    
        

