<div
  class="ds-secondary-side-nav ds-no-carets  ds-border-neutral-4 ds-col-xs-4 ds-no-gutter ds-mar-t-6 ds-mar-b-2 ds-pad-t-0_5 ds-pad-b-0_5"
  style="position:relative!important;overflow:hidden !important;">
  <div class="ds-row">
  <div class="ds-nav-item " aria-expanded="false" data-child="first-level-secondary" *ngFor="let name of documents">
    <div class="ds-col-6">
      <a href="#side-navigation-alignment-and-nesting-example" (click)="getDocumentByName(name)">{{name}}</a>
    </div>
    
      <div class="ds-col-3">
        <button class="ds-button ds-basic ds-small ds-width-auto ds-mar-b-0 " (click)="deleteDocument(name)"  ><span
            class="ds-icon-trash-can"></span></button>
      </div>
      <div class="ds-col-3">
        <button class="ds-button ds-basic ds-small ds-width-auto ds-mar-b-0 " (click)="someFunction()" [disabled]="state" disabled><span
            class="ds-icon-edit"></span></button>
      </div>
    

  </div>
</div>
</div>
<div class="ds-col-6 ds-pad-t-2 ds-pad-b-2">
  <div class="ds-row">
    <div class="ds-col-12  ds-col-sm-1  ds-col-md-1  ds-col-lg-2 ds-mar-b-1   ds-pad-t-1">
      <button class="ds-button ds-basic ds-small ds-width-auto ds-mar-b-0" (click)="resetForm()">NEW</button>
    </div>
    <div class="ds-col-12 ds-col-sm-1 ds-col-md-1 ds-col-lg-2 ds-mar-b-1 ds-pad-l-5 ds-pad-t-1">

    </div>
    <div class="ds-col-12 ds-col-sm-1 ds-col-md-1 ds-col-lg-2 ds-mar-b-1 ds-pad-l-10 ds-pad-t-1">
    </div>
  </div>

  <div class="ds-panel ds-panel-rounded ds-panel-raised">
    <app-file-content [details]="myDocument" *ngIf="getDocumentByName"  ></app-file-content>
  </div>
</div>